.navbar__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.navbar__logo {
    margin-left: 20px;
}

.navbar__logo a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.navbar__logo a:hover {
    color: red;
}

.navbar__search {
    display: flex;
    height: 40px;
    padding: 10px;
    align-items: center;
  
}

.navbar__searchContainer {
    border: 1px solid #31363a;
    border-radius: 4px;
    width: 250px;
}

.navbar__searchContainer input {
    border: none;
    outline: none;
    width: 95%;
    margin-left: 5px;
    margin-right: 5px   ;
}

.navbar__menuItems {
    margin-right: 20px;
}

.navbar__menuItems a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px ;
}

.navbar__menuItems a:hover {
    color: red;
}

